<div class="gqTableBlock">
    <table style="padding: 0; margin: 0;" cellpadding="0" cellspacing="0">
        <tr class="headings">
            <th style="width: 20%;"><i class="fas fa-user-circle"></i> Member ID</th>
            <th style="width: 20%;"><i class="fas fa-user-circle"></i> Username</th>
            <th style="width: 40%;"><i class="fas fa-user-circle"></i> Email</th>
            <th style="width: 20%;"><i class="fas fa-credit-card"></i> Cancel date</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td class="" style="width: 20%;">
                    {{ transaction.mcs_or_idx }}
                </td>
                <td class="" style="width: 20%;">{{ transaction.mcs_username }}</td>
                <td class="" style="width: 40%;">{{ transaction.mcs_email }}</td>
                <td class="" style="width: 20%;">{{ transaction.mcs_canceldate | date('d-m-Y') }}</td>
            </tr>
        {% else %}
            <td colspan="4">
                No transactions found
            </td>
        {% endfor %}
    </table>

    {% if pagination %}
        {% do pagination.setPageRange(3) %}
        {{ knp_pagination_render(pagination, 'XLabsEpochBundle:Stats:blocks/pagination.html.twig') }}
    {% endif %}
</div>