<div class="gqTableBlock">
    <table style="padding: 0; margin: 0;" cellpadding="0" cellspacing="0">
        <tr class="headings">
            <th style="width: 16%;"><i class="fas fa-user-circle"></i> Member ID</th>
            <th style="width: 16%;"><i class="fas fa-user-circle"></i> Username</th>
            <th style="width: 24%;"><i class="fas fa-user-circle"></i> Email</th>
            <th style="width: 16%;"><i class="fas fa-credit-card"></i> Transaction date</th>
            <th style="width: 12%;"><i class="fas fa-credit-card"></i> Transaction amount</th>
            <th style="width: 16%;"><i class="fas fa-credit-card"></i> Channel</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td class="" style="width: 16%;">
                    {{ transaction.ets_member_idx }}
                </td>
                <td class="" style="width: 16%;">
                    {{ transaction.ets_username }}
                </td>
                <td class="" style="width: 24%;"><span class="clickToClipboard" data-clipboard-text="{{ transaction.ets_email }}">{{ transaction.ets_email }}</span></td>
                <td class="" style="width: 16%;">{{ transaction.ets_transaction_date | date('d-m-Y') }}</td>
                <td class="" style="width: 12%;">{{ transaction.ets_transaction_amount }}$</td>
                <td class="" style="width: 16%;">{{ transaction.ets_site_subcat }}</td>
            </tr>
        {% else %}
            <td colspan="6">
                No transactions found
            </td>
        {% endfor %}
    </table>

    {% if pagination %}
        {% do pagination.setPageRange(3) %}
        {{ knp_pagination_render(pagination, 'XLabsEpochBundle:Stats:blocks/pagination.html.twig') }}
    {% endif %}
</div>