<div class="gqTableBlock">
    <table style="padding: 0; margin: 0;" cellpadding="0" cellspacing="0">
        <tr class="headings">
            <th style="width: 25%;"><i class="fas fa-user-circle"></i> Member ID</th>
            <th style="width: 25%;"><i class="fas fa-credit-card"></i> Transaction date</th>
            <th style="width: 25%;"><i class="fas fa-credit-card"></i> Transaction amount</th>
            <th style="width: 25%;"><i class="fas fa-credit-card"></i> Purchase</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td class="" style="width: 25%;">
                    {{ transaction.member_id }}
                </td>
                <td class="" style="width: 25%;">{{ transaction.transaction_date | date('d-m-Y') }}</td>
                <td class="" style="width: 25%;">{{ transaction.auth_amount }}$</td>
                <td class="" style="width: 25%;">{{ transaction.x_purchaseType }}</td>
            </tr>
        {% else %}
            <td colspan="4">
                No transactions found
            </td>
        {% endfor %}
    </table>

    {% if pagination %}
        {% do pagination.setPageRange(3) %}
        {{ knp_pagination_render(pagination, 'XLabsEpochBundle:Stats:blocks/pagination.html.twig') }}
    {% endif %}
</div>