<i class="far fa-times-circle error"></i>
<h1 class="">Transaction declined</h1>
<p class="">Unfortunately your transaction couldn´t go through:</p>
<p class=""><strong>{{ message }}</strong></p>
<hr>
<p>
    Having trouble? <a href="">Contact us</a>
</p>
<p>
    <a class="button success" href="{{ app.request.scheme ~'://' ~ app.request.httpHost }}">Continue to homepage</a>
</p>