<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Epoch transaction response</title>

        <meta http-equiv="Cache-Control" content="max-age=0">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="Pragma" content="no-cache">

        <style>
            @import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';
            html, body { font-family: 'Ubuntu', sans-serif; margin: 0; padding: 0; }
            .epoch_response { text-align: center !important; }
            i.success { font-size: 7em; color: #4EAE49; }
            i.error { font-size: 7em; color: #F2464D; }
            h1 { font-size: 4.5rem; font-weight: 300; }
            .button { margin-top: 10px; text-decoration: none; color: #107895; width: auto; height: auto; background: #D0EAF0; padding: 8px 30px; font-size: .8em; border-radius: 6px; transition: all 0.2s; }
            .button.success { background: #4EAE49; border: 1px solid #4EAE49; color: #ffffff; text-transform: uppercase; }
        </style>

        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    </head>
    <body>
        <div class="epoch_response">
            {% if status == 'SUCCESS' %}
                {% include 'XLabsEpochBundle::success.html.twig' %}
            {% elseif status == 'ERROR' %}
                {% include 'XLabsEpochBundle::error.html.twig' with {
                    'message': message
                } %}
            {% endif %}
        </div>
    </body>
</html>