<i class="far fa-check-circle success"></i>
<h1 class="">Thank You!</h1>
<p class="">Your transaction has been approved.</p>
<p class=""><strong>Please check your email</strong> for further details.</p>
<hr>
<p>
    Having trouble? <a href="">Contact us</a>
</p>
<p>
    <a class="button success" href="{{ app.request.scheme ~'://' ~ app.request.httpHost }}">Continue to homepage</a>
</p>