@import "_reset";

body, html, .gqMainContainer  { min-height: 100%; width: 100%; float: left; display: inline-block; background-color: #f5f5f5; }
html        { position: relative;}

.gqWide           { float: left; display: inline-block; text-align: center; position: relative; width: 100%;}
.gqTextOverflow	{ text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.gqOver       	  { width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; display: block; position: absolute; }
.gqIn   		 { width: 100%; top: 50%; transform: translateY(-50%); position: relative; display: inline-block;}
.gqOver          {-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

$maxWidth: 1200px;
$maxWidthForm: 900px;

.gqShadow{
  -webkit-box-shadow: 0 2px 3px 1px rgba(186,186,186,0.5);
  -moz-box-shadow:    0 2px 3px 1px rgba(186,186,186,0.5);
  box-shadow:         0 2px 3px 1px rgba(186,186,186,0.5);
}
.gqCenterFloat    { display: inline-block; float: none; position: relative; width: 100%; vertical-align: middle; max-width: $maxWidth; padding: 0 10px;}
.gqCenterFloatMin { display: inline-block; float: none; position: relative; width: 100%; vertical-align: middle; max-width: $maxWidthForm; padding: 0 10px;}
.gqLeftFloat      { display: inline-block; float: left; position: relative;}
.gqRightFloat     { display: inline-block; float: right; position: relative;}

$transition: background-color 0.07s, color 0.07s;
$font: Lato, Arial, sans-serif;
$bold: LatoBold, Arial, sans-serif;
$light: LatoLight, Arial, sans-serif;
$radius: 5px;

.gqMainContainerWrapper{
  @extend .gqWide;
  .gqMainContainer{
    @extend .gqCenterFloat;  padding: 10px;
    @media all and ( max-width: 1100px)  {
      padding: 10px 0;
    }
    .gqCreateStudioContainer{
      @extend .gqWide; padding: 0 10px;
      .gqCreateStudio{
        @extend .gqWide; background-color: #fff; border-radius: $radius; @extend .gqShadow; width: 500px; max-width: 100%; padding: 20px; float: none;
        .gqInputContainer{
          @extend .gqWide;  padding: 10px;
          .gqInput{ @extend .gqWide; padding: 15px; font: 16px/16px $font; text-align: left; color: #444; position: relative; display: inline-block;  border-radius: $radius; background-color: #efebe8; }
          .gqSubmitButton{ @extend .gqWide; cursor: pointer; color: #fff; position: relative; display: inline-block; padding: 15px; font: 16px/16px $font; border-radius: $radius;  background-color:  #7be68c;}
          .error{ position: absolute; border: none !important; top: 0;background-color: #fff; border-radius: $radius;margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0; width: 300px;}
          .gqInput.error{ position: relative !important; background-color:#efebe8; width: 100%; }
        }
      }
    }
    .gqHeading{
      @extend .gqWide; margin: 20px 0;
      .gqText{@extend .gqLeftFloat;margin-left: 10px; width: 250px; max-width: 100%; padding: 10px 10px; font: 20px/26px $bold;  text-align: left; color: #5c5c5c; background-color: #fff; border-radius: $radius; }
      .gqDropPeriods{
        @extend .gqRightFloat; background-color: #42639c; border-radius: $radius; width: 250px;  @extend .gqShadow; margin-right: 10px;
        .gqDropTitle{
          @extend .gqWide; padding: 15px; font: 16px/16px $font; text-align: left; cursor: pointer; color: #fff;
          i{ float: right; color: #fff; }
        }
        .gqDropBundle{
          position: absolute; background-color: #42639c; bottom: -145px; z-index: 10; padding-top: 4px; @extend .gqShadow; border-bottom-left-radius: $radius; border-bottom-right-radius: $radius; overflow: hidden;
          .gqDropItem{@extend .gqWide; padding: 10px; font: 16px/16px $font; text-align: left; color: #fff;}
          .gqDropItem:hover{ background-color: #5381d1; }
        }
      }
      .gqDropAdmin{
        @extend .gqRightFloat; width: 250px;  @extend .gqShadow; margin-right: 10px; border-radius: $radius;
        .fstElement{
          @extend .gqWide;border-radius: $radius;
          .fstToggleBtn{ @extend .gqWide;  padding: 15px; font: 16px/16px $font; text-align: left; cursor: pointer; color: #fff; background-color: #42639c;border-radius: $radius; }
          .fstControls { width: 100% !important;}
        }
      }
      @media all and ( max-width: 550px)  {
        .gqText{ width: 100%; margin-bottom: 20px;}
        .gqDropPeriods{ width: 70%;}
        .gqDropAdmin{ width: 70%;}

      }
    }
    .gqAdvancedContainer{
      @extend .gqWide;  padding: 0 10px; width: 500px; max-width: 100%; float: right; display: none;
      @media all and ( max-width: 900px)  {
        width: 100%;
      }
      .gqAdvanced{
        @extend .gqWide; width: 100%;border-radius: $radius;
        .gqAdvancedTitle{
          position: absolute; font: 16px/48px $font; left: 0; width: 100px; text-align: right; padding-right: 10px;
          @media all and ( max-width: 500px)  {
            width: 50px;
          }
        }
        .gqSelectContainer{
          @extend .gqWide; padding-left: 100px; margin-bottom: 20px;
          .fstElement{
            @extend .gqWide; width: 50%;  border-radius: $radius; border-top-left-radius: 0; border-bottom-left-radius: 0;
            .fstToggleBtn{ font: 16px/16px $font; @extend .gqWide; padding: 15px; min-width: unset;}
            .fstControls { width: 100% !important;}
          }
          .fstElement:first-child{ border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0; border-top-left-radius: $radius; border-bottom-left-radius: $radius;}
          @media all and ( max-width: 500px)  {
            padding-left: 50px;
          }
        }
      }
      .gqSubmitContainer{
        @extend .gqWide;
        .gqSubmit{
          @extend .gqWide; width: 250px; font: 16px/16px $font; color: #fff; float: right ; padding: 15px 0; text-align: center; background-color: #7be68c;  border-radius: $radius;
          @media all and ( max-width: 500px)  {
            width: 100%;
          }
        }
      }
    }
    .gqTotals{
      @extend .gqWide;
      .gqTotalPeriod{ @extend .gqLeftFloat; text-align: center; font: 14px/14px $font;  color: #a5aeb0; position: absolute; top: -12px; left: 10px;}
      .gqTotalBoxes{
        @extend .gqWide;
        .gqTotalBoxWrapper{
          @extend .gqWide; width: 25%; padding: 10px;
          .gqTotalBox{
            @extend .gqWide; @extend .gqShadow;background-color: #5381d1; padding: 15px 15px 15px 100px; border-radius: $radius; overflow: hidden;
            .gqNumber{@extend .gqWide; font: 30px/30px $bold; color: #fff; text-align: left; @extend .gqTextOverflow;}
            .gqText{@extend .gqWide; font: 16px/20px $font;  color: #fff; text-align: left}
            .gqIcon{ position: absolute; left: 0; height: 60%; top: 20%; bottom: 20%; line-height: 48px; font-size: 40px; vertical-align: middle;  color: #fff; width: 80px; border-right: 1px solid #efebe8}
          }
          @media all and ( max-width: 1100px)  {
            .gqTotalBox{
              padding: 10px 10px 10px 60px;
              .gqIcon{ width: 50px; font-size: 30px; line-height: 42px }
            }
          }
          @media all and ( max-width: 900px)  {
            .gqTotalBox{
              padding: 10px;
              .gqIcon{display: none;}
            }
          }
          @media all and ( max-width: 750px)  {
            width: 50%;
            .gqTotalBox{
              .gqIcon{ display: none;}
            }
          }
          @media all and ( max-width: 450px)  {
            width: 100%;
          }
        }
      }
    }
    .gqPeriods{
      @extend .gqWide; padding: 0 10px;
      .gqLinkContainer{
        @extend .gqWide; @extend .gqShadow; border-radius: $radius; overflow: hidden;
         .gqPeriodLink{
           @extend .gqWide; padding: 20px 0; color: #333; font: 16px/16px $light; border-right: 1px solid #efebe8; width: 25%; background-color: #fff;
           @media all and ( max-width: 650px)  {
             width: 50%; border-bottom: 1px solid #efebe8;
           }
         }
        .gqPeriodLink:hover{ background-color: #18bcc9; color: #fff;}
      }


      .gqSpanWrapper{
        @extend .gqWide; width: 66.6666666666%; padding: 10px;
        .gqSpan{
          @extend .gqWide;background-color: #fff; border-radius: $radius; padding: 20px; @extend .gqShadow;

          .gqPreset{
            @extend .gqWide; padding: 15px 10px; font: 16px/16px $bold; text-align: left; color: #444;
            i { font-size: 16px; color: #18bcc9; margin-right: 10px;}
          }
          .gqPreset:hover{
            background-color: #18bcc9; color: #fff;
            i{ color: #fff;}
          }

        }
      }
      .gqSpanWrapper.gqPredefined{width: 33.3333333333%; }
    }
    .gqResultsWrapper{
      @extend .gqWide;
      .gqResults{
        @extend .gqWide; margin-top: 0 !important; padding: 0 10px;
        .gqResultsNavigation {
          @extend .gqWide; margin-top: 0 !important ;border: none !important; background-color: transparent !important;
          .gqLink {
            @extend .gqWide; width: 20% !important; padding: 15px 0;  border-bottom: 3px solid #a5aeb0;
            .gqIcon{ @extend .gqWide; color: #a5aeb0; display: none}
            .gqText{@extend .gqWide; font: 16px/16px $bold;color: #a5aeb0;}
            .gqArrowContainer{
              position: absolute; left: 0; right: 0; bottom: -20px; width: 100%; z-index: 2; display: none;
              .gqArrow{ display: inline-block; width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 15px solid #42639c;}
            }
            @media all and ( max-width: 650px)  {
              .gqIcon{ display: inline-block; font-size: 20px; line-height: 20px;}
              .gqText{ display: none;}
            }
          }
          .gqLink.gqSelected{
            border-bottom: 3px solid #42639c;
            .gqText{color: #444;}
            .gqIcon{color: #444;}
            .gqArrowContainer{ display: inline-block;}
          }
          .gqLink:hover{ border-bottom: 3px solid #42639c}
        }
        .gqTableWrapper{
          @extend .gqWide;
          .gqTable{
            @extend .gqWide; @extend .gqShadow;background-color: #fff; padding: 20px; margin-top: 20px;
            @media all and ( max-width: 850px)  {
              padding: 20px 0;
              .gqTableTitle{
                i { margin-left: 10px;}
              }
            }

            .gqTableTitle{
              @extend .gqWide; font: 20px/20px $bold; color: #444; border-bottom: 1px solid #efebe8; padding-bottom: 20px; text-align: left; text-transform: capitalize;
              i{ padding: 10px; border-radius: $radius; background-color: #5381d1; color: #fff; margin-right: 10px;}
            }
            .gqTableRender{
              @extend .gqWide; padding-top: 10px;
              .gqSearchContainer{
                @extend .gqWide; padding: 15px;
                .gqSearchInput{  padding: 15px; font: 16px/16px $font; text-align: left; color: #444; position: relative; display: inline-block;  border-radius: $radius; background-color: #efebe8; width: 300px; max-width: 50%; }
                .gqSearchButton{ cursor: pointer; color: #fff; position: relative; display: inline-block; padding: 15px; font: 16px/16px $font; border-radius: $radius;  background-color:  #7be68c; width: 50px; }
              }
              .gqUserSearchResult{ @extend .gqWide;}
              .gqTableBlock{
                .paginationArea{ margin: 20px 0 0 0}
                @extend .gqWide;
                table{
                  @extend .gqWide;
                  tbody{
                    @extend .gqWide;
                    tr{
                      @extend .gqWide;  padding: 15px; border-radius: $radius;
                      th{
                        @extend .gqWide; text-align: left; font: 16px/16px $bold; color: #555;
                      }
                      td{
                        @extend .gqWide; @extend .gqTextOverflow;text-align: left; font: 13px/13px $font; color: #333; text-transform: lowercase;
                        a{@extend .gqWide; @extend .gqTextOverflow; text-align: left; font: 13px/13px $font; color: #333; text-transform: lowercase}
                      }
                    }
                    tr:nth-child(2n) {background-color: #f9f9f9;}
                  }
                }
              }
            }
          }
          .gqTable:first-child{ margin-top: 0!important; }
        }
        /*#tab-joins  th, #tab-joins  td{ width: 16.66666666667%;}
        #tab-joins{
          @media all and ( max-width: 850px)  {
            th:first-child, td:first-child{ display: none}
            th:nth-child(3), td:nth-child(3){ display: none}
            th:nth-child(4), td:nth-child(4){ display: none}
            th,td{ width: 33.33333333333%; }
          }
        }
        #tab-rebills  th, #tab-rebills  td{ width: 16.66666666667%;}
        #tab-rebills{
          @media all and ( max-width: 850px)  {
            th:first-child, td:first-child{ display: none}
            th:nth-child(3), td:nth-child(3){ display: none}
            th:nth-child(4), td:nth-child(4){ display: none}
            th,td{ width: 33.33333333333%; }
          }
        }
        #tab-purchases  th, #tab-purchases  td{ width: 16.66666666667%;}
        #tab-purchases{
          @media all and ( max-width: 850px)  {
            th:first-child, td:first-child{ display: none}
            th:nth-child(3), td:nth-child(3){ display: none}
            th:nth-child(4), td:nth-child(4){ display: none}
            th,td{ width: 33.33333333333%; }
          }
        }
        #tab-refunds  th, #tab-refunds  td{ width: 16.66666666667%;}
        #tab-refunds{
          @media all and ( max-width: 850px)  {
            th:first-child, td:first-child{ display: none}
            th:nth-child(3), td:nth-child(3){ display: none}
            th:nth-child(4), td:nth-child(4){ display: none}
            th,td{ width: 33.33333333333%; }
          }
        }
        #tab-chargebacks  th, #tab-chargebacks  td{ width: 16.66666666667%;}
        #tab-chargebacks{
          @media all and ( max-width: 850px)  {
            th:first-child, td:first-child{ display: none}
            th:nth-child(3), td:nth-child(3){ display: none}
            th:nth-child(4), td:nth-child(4){ display: none}
            th,td{ width: 33.33333333333%; }
          }
        }
        #tab-cancels  th, #tab-cancels  td{ width: 16.66666666667%;}
        #tab-cancels{
          @media all and ( max-width: 850px)  {
            th:first-child, td:first-child{ display: none}
            th:nth-child(3), td:nth-child(3){ display: none}
            th:nth-child(4), td:nth-child(4){ display: none}
            th,td{ width: 33.33333333333%; }
          }
        }*/
      }
    }
  }
}

.paginationArea{margin: 20px 0; @extend .gqWide;}
.paginationArea a{float:left;display:inline-block;margin:0 3px;padding:10px 15px;background: none;color: #777;font: 14px/16px Lato,Helvetica,Arial,sans-serif;font-style:italic;border-radius: $radius;text-transform:capitalize;border: 1px solid #0000001c}
.paginationArea a.highlight{background-color: #eaeaea;border: 1px solid #00000030;color: #000}
.paginationArea a:hover{border-color: #000}
.paginationArea .left{display:inline-block;float:none;position:relative}
.paginationArea .right{display:inline-block;float:none;position:relative}
.paginationArea .center{display:inline-block;float:none;position:relative}

@media all and (max-width: 800px){
  .paginationArea .left{left:15px}
  .paginationArea .right{right:15px}
}

@media all and (max-width: 500px){
  .paginationArea .left{left:0;width:100%;position:relative;margin-bottom:10px}
  .paginationArea .left a{float:none}
  .paginationArea .right{right:0;width:100%;position:relative;margin-top:5px}
  .paginationArea .right a{float:none}
}
