{% apply spaceless %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Epoch Stats{% endblock title %}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock meta_keywords %}">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">

        {% block meta_auto_page_refresh %}
            {% if app.user and not isMMAdmin() %}
                <meta http-equiv="refresh" content="{{ session_max_idle_time }}">
            {% endif %}
        {% endblock meta_auto_page_refresh %}

        {% block stylesheets %}{% endblock stylesheets %}
        <style>
            /* Fancybox border padding */
            .fancybox-skin { padding: 8px!important; }
        </style>

        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"/>#}
        {#<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">#}
        {# <link href="{{ asset('bundles/mmcore/css/fontawesome/css/fontawesome-all.css') }}" rel="stylesheet">#}
        {% block jQuery %}
            {#<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>#}
            <script src="{{ asset('bundles/mmcore/jquery-1.11.2.min.js') }}"></script>
        {% endblock jQuery %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        {% block headingJS %}{% endblock headingJS %}
        {% block favicon %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock favicon %}
    </head>
    <body class="{% block bodyClass %}{% endblock bodyClass %}">

    {% block body %}
        {% block header %}{% endblock header %}

        {% block content %}{% endblock content %}

        {% block footer %}{% endblock footer %}
    {% endblock body %}
    {% block javascripts %}{% endblock javascripts %}
    </body>
    </html>
{% endapply %}