{% set graph_id = 'graph_'~random(999999) %}
{#
<select>
    <option>By transactions amount</option>
    <option>By revenue</option>
</select>
#}
{% if show_graph_by_revenue %}
    <div class="_graph_wrapper" id="_chart_{{ graph_id }}_by_total_transactions" style="height: 370px; width: 50%; float: left;"></div>
    <div class="_graph_wrapper" id="_chart_{{ graph_id }}_by_total_revenue" style="height: 370px; width: 50%; float: left;"></div>
{% else %}
    <div class="_graph_wrapper" id="_chart_{{ graph_id }}_by_total_transactions" style="height: 370px; width: 100%;"></div>
{% endif %}
<script>
    // By total transactions
    var chart_by_total_transactions = new CanvasJS.Chart("_chart_{{ graph_id }}_by_total_transactions", {
        animationEnabled: true,
        zoomEnabled: true,
        theme: "light2",
        title:{
            text: '{{ graph_title.by_total_transactions }}',
            fontSize: 18,
            fontColor: 'rgba(83, 129, 209, .8)'
        },
        axisX:{
            // show it
            valueFormatString: "DD MMM",
            crosshair: {
                enabled: true,
                snapToDataPoint: true
            },
            interval: 1
            // hide it
            /*tickLength: 0,
            lineThickness: 0,
            margin: 0,*/
        },
        axisY: {
            gridColor: 'rgba(0, 0, 0, 0)',
            interval: 1,
            /*crosshair: {
                enabled: true
            },*/
            // show it
            /*title: 'Total transactions',
            valueFormatString: "#0",
            //minimum: 1,
            interval: 1,
            titleFontColor: "#42A5F5",*/
            // hide it
            title: "",
            tickLength: 0,
            lineThickness: 0,
            margin: 0,
            valueFormatString: " "
        },
        toolTip:{
            //shared: true,
            content: "<span style='\"'color: rgba(0, 0, 0, .4);'\"'>{x}</span><br /><span style='\"'color: #5381D1;'\"'>{name}</span>: {y}{% if show_graph_by_revenue %}<br /><span style='\"'color: #5381D1;'\"'>Revenue</span>: {revenue}${% endif %}" ,
        },
        legend:{
            cursor: "pointer",
            verticalAlign: "bottom",
            horizontalAlign: "left",
            dockInsidePlotArea: true,
            //itemclick: function(e){}
        },
        data: [{
            //type: "line",
            //type: "area",
            //type: "column",
            type: "splineArea",
            showInLegend: false,
            name: 'Transactions',
            markerType: "none",
            markerSize: 7,
            markerColor: '#42A5F5',
            //indexLabelFontColor: '#202020',
            xValueFormatString: "DD MMM, YYYY",
            color: "rgba(170, 214, 250, .7)",
            dataPoints: {{ chart_data.by_total_transactions|raw }},
        }],
        rangeChanged: syncHandler_{{ graph_id }}
    });
    $('#_chart_{{ graph_id }}_by_total_transactions').parents('.gqTableGraph').data('chart_by_total_transactions', chart_by_total_transactions);

    {% if show_graph_by_revenue %}
        // By total revenue
        var chart_by_total_revenue = new CanvasJS.Chart("_chart_{{ graph_id }}_by_total_revenue", {
            animationEnabled: true,
            zoomEnabled: true,
            theme: "light2",
            title:{
                text: '{{ graph_title.by_total_revenue }}',
                fontSize: 18,
                fontColor: 'rgba(139, 196, 78, .8)'
            },
            axisX:{
                // show it
                valueFormatString: "DD MMM",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                },
                interval: 1
                // hide it
                /*tickLength: 0,
                lineThickness: 0,
                margin: 0,*/
            },
            axisY: {
                gridColor: 'rgba(0, 0, 0, 0)',
                interval: 1,
                /*crosshair: {
                    enabled: true
                },*/
                // show it
                /*title: 'Total transactions',
                valueFormatString: "#0",
                //minimum: 1,
                interval: 1,
                titleFontColor: "#42A5F5",*/
                // hide it
                title: "",
                tickLength: 0,
                lineThickness: 0,
                margin: 0,
                valueFormatString: " "
            },
            toolTip:{
                //shared: true,
                content: "<span style='\"'color: rgba(0, 0, 0, .4);'\"'>{x}</span><br /><span style='\"'color: #5381D1;'\"'>{name}</span>: {y}<br /><span style='\"'color: #5381D1;'\"'>Transactions</span>: {records}" ,
            },
            legend:{
                cursor: "pointer",
                verticalAlign: "bottom",
                horizontalAlign: "left",
                dockInsidePlotArea: true,
                //itemclick: function(e){}
            },
            data: [{
                type: "splineArea",
                showInLegend: false,
                name: 'Revenue',
                markerType: "none",
                markerSize: 7,
                markerColor: '#9CCC65',
                xValueFormatString: "DD MMM, YYYY",
                //color: "rgba(170, 214, 250, .7)",
                color: "#D2E8BA",
                dataPoints: {{ chart_data.by_total_revenue|raw }},
            }],
            rangeChanged: syncHandler_{{ graph_id }}
        });
        $('#_chart_{{ graph_id }}_by_total_revenue').parents('.gqTableGraph').data('chart_by_total_revenue', chart_by_total_revenue);
    {% endif %}

    // Sync zoom/panning
    {% if show_graph_by_revenue %}
        var charts_{{ graph_id }} = [chart_by_total_transactions, chart_by_total_revenue]; // add all charts (with axes) to be synced
    {% else %}
        var charts_{{ graph_id }} = [chart_by_total_transactions]; // add all charts (with axes) to be synced
    {% endif %}
    function syncHandler_{{ graph_id }}(e)
    {
        for(let i = 0; i < charts_{{ graph_id }}.length; i++)
        {
            let chart = charts_{{ graph_id }}[i];
            if(!chart.options.axisX)
            {
                chart.options.axisX = {};
            }
            if(!chart.options.axisY)
            {
                chart.options.axisY = {};
            }
            if(e.trigger === "reset")
            {
                chart.options.axisX.viewportMinimum = chart.options.axisX.viewportMaximum = null;
                chart.options.axisY.viewportMinimum = chart.options.axisY.viewportMaximum = null;
                chart.render();
            } else {
                if (chart !== e.chart)
                {
                    chart.options.axisX.viewportMinimum = e.axisX[0].viewportMinimum;
                    chart.options.axisX.viewportMaximum = e.axisX[0].viewportMaximum;
                    chart.options.axisY.viewportMinimum = e.axisY[0].viewportMinimum;
                    chart.options.axisY.viewportMaximum = e.axisY[0].viewportMaximum;
                    chart.render();
                }
            }
        }
    }
</script>