{% extends 'XLabsEpochBundle:Stats:base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/xlabsepoch/fonts/font-awesome/css/all.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/xlabsepoch/css/jquery-ui.css') }}">
    <link href="{{ asset('bundles/xlabsepoch/plugins/fastselect/fastselect.min.css') }}" rel="stylesheet">
    <style>
        /* fastselect custom */
        .fstElement { width: auto; font-size: .9em; }
        .fstControls { width: 80%!important; }
        .fstToggleBtn { font-size: 1em; }
        .fstResultItem { font-size: 1em; }
        .fstQueryInput { font-size: 1.1em!important; }
        .fstSelected {  }
        .fstChoiceItem { font-size: 1em; }
    </style>

    <style>
        .gqTotalBoxWrapper:hover {cursor: pointer;}
        .gqTotalBoxWrapper *:hover {cursor: pointer;}
        .hidden-field {display: none;}
        .clear { float: none; clear: both; height: 1px; }
        .clickToClipboard:hover { cursor: pointer; }
        .clickToClipboard::before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0ea"; margin-right: 8px; }
    </style>
    <link rel="stylesheet" type="text/css"  href="{{ asset('bundles/xlabsepoch/css/gqStats/base.css') }}"/>
{% endblock stylesheets %}

{% block content %}
    {#<script src="{{ asset('bundles/mmcore/plugins/jquery.preloader/jquery.preloader.js') }}"></script>#}
    <script src="{{ asset('bundles/xlabsepoch/js/jquery-ui.min.1121.js') }}"></script>
    <script src="{{ asset('bundles/xlabsepoch/js/clipboard.min.js') }}"></script>
    <script src="{{ asset('bundles/xlabsepoch/plugins/fastselect/fastselect.standalone.min.js') }}"></script>
    <script src="{{ asset('bundles/xlabsepoch/js/canvasjs.min.js') }}"></script>

    <div class="gqMainContainerWrapper">
        <div class="gqMainContainer">
            <div class="gqHeading">
                <span class="gqText">&#9679; Epoch Stats</span>
            </div>
            <div class="gqTotals">
                {{ render(controller('XLabsEpochBundle:Stats:getTotals', {
                    'initDate': initDate,
                    'endDate': endDate
                })) }}
            </div>
            <div class="gqHeading">
                <span class="gqText">&#9679; Results By Type</span>
                <div class="gqDropPeriods">
                    <span class="gqDropTitle">Select Overview Period <i class="fas fa-angle-down"></i></span>
                    <div class="gqDropBundle">
                        <a class="gqDropItem" href="javascript:;" id="btnSearchThisMonth">Current Month</a>
                        <a class="gqDropItem"  href="javascript:;" id="btnSearchLastMonth">Previous Month</a>
                        <a class="gqDropItem" href="javascript:;" id="btnSearchThisYear">Entire Year</a>
                        <a class="gqDropItem" href="javascript:;" id="btnSearchAdvanced">Advanced Search</a>
                    </div>
                    <script type="application/javascript">
                        $('.gqDropBundle').hide();
                        $('.gqDropPeriods .gqDropTitle').on('click', function(e) {
                            $('.gqDropBundle').toggle();
                        });
                    </script>
                </div>
            </div>
            <div class="gqAdvancedContainer">
                <fieldset class="gqAdvanced">
                    <legend class="gqAdvancedTitle">From:</legend>
                    {% set months = getMonthNames() %}
                    {% set monthsNumbers = getMonthNumbers() %}
                    <div class="gqSelectContainer">
                        <select class="gqSelect" id="initMonth">
                            {% for month in months %}
                                {% set selected = (monthsNumbers[loop.index0] == initDate|split('-')[1]) ? 'selected="selected"' : '' %}
                                <option {{ selected | raw }} value="{{ monthsNumbers[loop.index0] }}">{{ month }}</option>
                            {% endfor %}
                        </select>
                        <script>
                            $('select#initMonth').fastselect();
                        </script>
                        <select id="initYear">
                            {% for year in yearsFilter %}
                                {% set selected = (year == initDate|split('-')[0]) ? 'selected="selected"' : '' %}
                                <option {{ selected | raw }} value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                        <script>
                            $('select#initYear').fastselect();
                        </script>
                    </div>
                    <script type="application/javascript">
                        $('#btnSearchAdvanced').click(function(){
                            $('.gqAdvancedContainer').toggle();
                            $('.gqDropBundle').hide();
                        });
                    </script>
                </fieldset>
                <fieldset class="gqAdvanced">
                    <legend class="gqAdvancedTitle">To:</legend>
                    <div class="gqSelectContainer">
                        <select id="endMonth">
                            {% for month in months %}
                                {% set selected = (monthsNumbers[loop.index0] == endDate|split('-')[1]) ? 'selected="selected"' : '' %}
                                <option {{ selected | raw }} data-days="{{ getMonthNumDays(monthsNumbers[loop.index0], endDate|split('-')[0]) }}" value="{{ monthsNumbers[loop.index0] }}">{{ month }}</option>
                            {% endfor %}
                        </select>
                        <script>
                            $('select#endMonth').fastselect();
                        </script>
                        <select id="endYear">
                            {% for year in yearsFilter %}
                                {% set selected = (year == endDate|split('-')[0]) ? 'selected="selected"' : '' %}
                                <option {{ selected }} value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                        <script>
                            $('select#endYear').fastselect();
                        </script>
                    </div>
                </fieldset>
                <div class="gqSubmitContainer">
                    <a class="gqSubmit" href="javascript:;" id="btnSearchRange" >Search</a>
                </div>
            </div>
            <div class="gqResultsWrapper">
                <div id="tabs" class="gqResults">
                    <div class="gqResultsNavigation" id="tabs" style="border: none !important;">
                        <a class="gqLink" href="#tab-joins" style="width: 16.6% !important;">
                            <i class="fas fa-users gqIcon"></i>
                            <span class="gqText">Joins</span>
                            <div class="gqArrowContainer"><div class="gqArrow"></div></div>
                        </a>
                        <a class="gqLink" href="#tab-rebills" style="width: 16.6% !important;">
                            <i class="fas fa-user-clock gqIcon"></i>
                            <span class="gqText">Rebills</span>
                            <div class="gqArrowContainer"><div class="gqArrow"></div></div>
                        </a>
                        <a class="gqLink" href="#tab-purchases" style="width: 16.6% !important;">
                            <i class="fas fa-shopping-cart gqIcon"></i>
                            <span class="gqText">Purchases</span>
                            <div class="gqArrowContainer"><div class="gqArrow"></div></div>
                        </a>
                        <a class="gqLink" href="#tab-refunds" style="width: 16.6% !important;">
                            <i class="fas fa-user-minus gqIcon"></i>
                            <span class="gqText">Refunds</span>
                            <div class="gqArrowContainer"><div class="gqArrow"></div></div>
                        </a>
                        <a class="gqLink" href="#tab-chargebacks" style="width: 16.6% !important;">
                            <i class="fas fa-user-minus gqIcon"></i>
                            <span class="gqText">Chargebacks</span>
                            <div class="gqArrowContainer"><div class="gqArrow"></div></div>
                        </a>
                        <a class="gqLink" href="#tab-cancels" style="width: 16.6% !important;">
                            <i class="fas fa-ban gqIcon"></i>
                            <span class="gqText">Cancels</span>
                            <div class="gqArrowContainer"><div class="gqArrow"></div></div>
                        </a>
                    </div>
                    <div id="tab-joins" class="gqTableWrapper">
                        <fieldset class="gqTable">
                            <legend class="gqTableTitle">
                                <i class="fas fa-user-plus"></i> Joins
                                {% if render_graphs %}
                                    <a class="_toggle_graph" style="float: right;"><i class="far fa-chart-bar"> <span style="font: 20px/20px LatoBold,Arial,sans-serif; margin-left: 8px;">Show graph</span></i></a>
                                {% endif %}
                            </legend>
                            {% if render_graphs %}
                                <div class="gqTableGraph" style="display: none; float: left; text-align: center; position: relative; width: 100%;">
                                    {{ render(controller('XLabsEpochBundle:StatsChart:render', {
                                        'aOptions': {
                                            'entity': 'EpochTransStats',
                                            'transaction_type': [
                                                constant('XLabs\\EpochBundle\\Entity\\EpochTransStats::EPOCH_TRANSACTION_TYPE_STANDARD_INITIAL_RECURRING'),
                                                constant('XLabs\\EpochBundle\\Entity\\EpochTransStats::EPOCH_TRANSACTION_TYPE_INITIAL_PAID_TRIAL_ORDER')
                                            ],
                                            'date_limit': {
                                                'min': initDate,
                                                'max': endDate
                                            },
                                            'having_channel': false
                                        }
                                    })) }}
                                </div>
                            {% endif %}
                            <div class="gqTableRender">
                                {{ render(controller('XLabsEpochBundle:Stats:joins', {
                                    'initDate' : initDate,
                                    'endDate' : endDate
                                })) }}
                            </div>
                        </fieldset>
                        <fieldset class="gqTable">
                            <legend class="gqTableTitle">
                                <i class="fas fa-video"></i> Channel Joins
                                {% if render_graphs %}
                                    <a class="_toggle_graph" style="float: right;"><i class="far fa-chart-bar"> <span style="font: 20px/20px LatoBold,Arial,sans-serif; margin-left: 8px;">Show graph</span></i></a>
                                {% endif %}
                            </legend>
                            {% if render_graphs %}
                                <div class="gqTableGraph" style="display: none; float: left; text-align: center; position: relative; width: 100%;">
                                    {{ render(controller('XLabsEpochBundle:StatsChart:render', {
                                        'aOptions': {
                                            'entity': 'EpochTransStats',
                                            'transaction_type': [
                                                constant('XLabs\\EpochBundle\\Entity\\EpochTransStats::EPOCH_TRANSACTION_TYPE_STANDARD_INITIAL_RECURRING'),
                                                constant('XLabs\\EpochBundle\\Entity\\EpochTransStats::EPOCH_TRANSACTION_TYPE_INITIAL_PAID_TRIAL_ORDER')
                                            ],
                                            'date_limit': {
                                                'min': initDate,
                                                'max': endDate
                                            },
                                            'having_channel': true
                                        }
                                    })) }}
                                </div>
                            {% endif %}
                            <div class="gqTableRender">
                                {{ render(controller('XLabsEpochBundle:Stats:channelJoins', {
                                    'initDate' : initDate,
                                    'endDate' : endDate
                                })) }}
                            </div>
                        </fieldset>
                    </div>
                    <div id="tab-rebills" class="gqTableWrapper">
                        <fieldset class="gqTable">
                            <legend class="gqTableTitle">
                                <i class="fas fa-user-clock"></i> Rebills
                                {% if render_graphs %}
                                    <a class="_toggle_graph" style="float: right;"><i class="far fa-chart-bar"> <span style="font: 20px/20px LatoBold,Arial,sans-serif; margin-left: 8px;">Show graph</span></i></a>
                                {% endif %}
                            </legend>
                            {% if render_graphs %}
                                <div class="gqTableGraph" style="display: none; float: left; text-align: center; position: relative; width: 100%;">
                                    {{ render(controller('XLabsEpochBundle:StatsChart:render', {
                                        'aOptions': {
                                            'entity': 'EpochTransStats',
                                            'transaction_type': [
                                                constant('XLabs\\EpochBundle\\Entity\\EpochTransStats::EPOCH_TRANSACTION_TYPE_INITIAL_TRIAL_CONVERSION'),
                                                constant('XLabs\\EpochBundle\\Entity\\EpochTransStats::EPOCH_TRANSACTION_TYPE_NON_INITIAL_RECURRING')
                                            ],
                                            'date_limit': {
                                                'min': initDate,
                                                'max': endDate
                                            },
                                            'having_channel': false
                                        }
                                    })) }}
                                </div>
                            {% endif %}
                            <div class="gqTableRender">
                                {{ render(controller('XLabsEpochBundle:Stats:rebills', {
                                    'initDate' : initDate,
                                    'endDate' : endDate
                                })) }}
                            </div>
                        </fieldset>
                        <fieldset class="gqTable">
                            <legend class="gqTableTitle">
                                <i class="fas fa-user-clock"></i> Channel Rebills
                                {% if render_graphs %}
                                    <a class="_toggle_graph" style="float: right;"><i class="far fa-chart-bar"> <span style="font: 20px/20px LatoBold,Arial,sans-serif; margin-left: 8px;">Show graph</span></i></a>
                                {% endif %}
                            </legend>
                            {% if render_graphs %}
                                <div class="gqTableGraph" style="display: none; float: left; text-align: center; position: relative; width: 100%;">
                                    {{ render(controller('XLabsEpochBundle:StatsChart:render', {
                                        'aOptions': {
                                            'entity': 'EpochTransStats',
                                            'transaction_type': [
                                                constant('XLabs\\EpochBundle\\Entity\\EpochTransStats::EPOCH_TRANSACTION_TYPE_INITIAL_TRIAL_CONVERSION'),
                                                constant('XLabs\\EpochBundle\\Entity\\EpochTransStats::EPOCH_TRANSACTION_TYPE_NON_INITIAL_RECURRING')
                                            ],
                                            'date_limit': {
                                                'min': initDate,
                                                'max': endDate
                                            },
                                            'having_channel': true
                                        }
                                    })) }}
                                </div>
                            {% endif %}
                            <div class="gqTableRender">
                                {{ render(controller('XLabsEpochBundle:Stats:channelRebills', {
                                    'initDate' : initDate,
                                    'endDate' : endDate
                                })) }}
                            </div>
                        </fieldset>
                    </div>
                    <div id="tab-purchases" class="gqTableWrapper">
                        <fieldset class="gqTable">
                            <legend class="gqTableTitle">
                                <i class="fas fa-shopping-cart"></i> Purchases
                                {% if render_graphs %}
                                    <a class="_toggle_graph" style="float: right;"><i class="far fa-chart-bar"> <span style="font: 20px/20px LatoBold,Arial,sans-serif; margin-left: 8px;">Show graph</span></i></a>
                                {% endif %}
                            </legend>
                            {% if render_graphs %}
                                <div class="gqTableGraph" style="display: none; float: left; text-align: center; position: relative; width: 100%;">
                                    {{ render(controller('XLabsEpochBundle:StatsChart:render', {
                                        'aOptions': {
                                            'entity': 'CamChargeTrans',
                                            'date_limit': {
                                                'min': initDate,
                                                'max': endDate
                                            }
                                        }
                                    })) }}
                                </div>
                            {% endif %}
                            <div class="gqTableRender">
                                {{ render(controller('XLabsEpochBundle:Stats:purchases', {
                                    'initDate' : initDate,
                                    'endDate' : endDate
                                })) }}
                            </div>
                        </fieldset>
                    </div>
                    <div id="tab-refunds" class="gqTableWrapper">
                        <fieldset class="gqTable">
                            <legend class="gqTableTitle">
                                <i class="fas fa-user-minus"></i> Refunds
                                {% if render_graphs %}
                                    <a class="_toggle_graph" style="float: right;"><i class="far fa-chart-bar"> <span style="font: 20px/20px LatoBold,Arial,sans-serif; margin-left: 8px;">Show graph</span></i></a>
                                {% endif %}
                            </legend>
                            {% if render_graphs %}
                                <div class="gqTableGraph" style="display: none; float: left; text-align: center; position: relative; width: 100%;">
                                    {{ render(controller('XLabsEpochBundle:StatsChart:render', {
                                        'aOptions': {
                                            'entity': 'EpochTransStats',
                                            'transaction_type': [
                                                constant('XLabs\\EpochBundle\\Entity\\EpochTransStats::EPOCH_TRANSACTION_TYPE_CREDIT_TO_CUSTOMERS_ACCOUNT')
                                            ],
                                            'date_limit': {
                                                'min': initDate,
                                                'max': endDate
                                            },
                                            'having_channel': false
                                        }
                                    })) }}
                                </div>
                            {% endif %}
                            <div class="gqTableRender">
                                {{ render(controller('XLabsEpochBundle:Stats:refunds', {
                                    'initDate' : initDate,
                                    'endDate' : endDate
                                })) }}
                            </div>
                        </fieldset>
                        <fieldset class="gqTable">
                            <legend class="gqTableTitle">
                                <i class="fas fa-user-minus"></i> Channel Refunds
                                {% if render_graphs %}
                                    <a class="_toggle_graph" style="float: right;"><i class="far fa-chart-bar"> <span style="font: 20px/20px LatoBold,Arial,sans-serif; margin-left: 8px;">Show graph</span></i></a>
                                {% endif %}
                            </legend>
                            {% if render_graphs %}
                                <div class="gqTableGraph" style="display: none; float: left; text-align: center; position: relative; width: 100%;">
                                    {{ render(controller('XLabsEpochBundle:StatsChart:render', {
                                        'aOptions': {
                                            'entity': 'EpochTransStats',
                                            'transaction_type': [
                                                constant('XLabs\\EpochBundle\\Entity\\EpochTransStats::EPOCH_TRANSACTION_TYPE_CREDIT_TO_CUSTOMERS_ACCOUNT')
                                            ],
                                            'date_limit': {
                                                'min': initDate,
                                                'max': endDate
                                            },
                                            'having_channel': true
                                        }
                                    })) }}
                                </div>
                            {% endif %}
                            <div class="gqTableRender">
                                {{ render(controller('XLabsEpochBundle:Stats:channelRefunds', {
                                    'initDate' : initDate,
                                    'endDate' : endDate
                                })) }}
                            </div>
                        </fieldset>
                    </div>
                    <div id="tab-chargebacks" class="gqTableWrapper">
                        <fieldset class="gqTable">
                            <legend class="gqTableTitle">
                                <i class="fas fa-user-minus"></i> Chargebacks
                                {% if render_graphs %}
                                    <a class="_toggle_graph" style="float: right;"><i class="far fa-chart-bar"> <span style="font: 20px/20px LatoBold,Arial,sans-serif; margin-left: 8px;">Show graph</span></i></a>
                                {% endif %}
                            </legend>
                            {% if render_graphs %}
                                <div class="gqTableGraph" style="display: none; float: left; text-align: center; position: relative; width: 100%;">
                                    {{ render(controller('XLabsEpochBundle:StatsChart:render', {
                                        'aOptions': {
                                            'entity': 'EpochTransStats',
                                            'transaction_type': [
                                                constant('XLabs\\EpochBundle\\Entity\\EpochTransStats::EPOCH_TRANSACTION_TYPE_CHARGEBACK')
                                            ],
                                            'date_limit': {
                                                'min': initDate,
                                                'max': endDate
                                            },
                                            'having_channel': false
                                        }
                                    })) }}
                                </div>
                            {% endif %}
                            <div class="gqTableRender">
                                {{ render(controller('XLabsEpochBundle:Stats:chargebacks', {
                                    'initDate' : initDate,
                                    'endDate' : endDate
                                })) }}
                            </div>
                        </fieldset>
                        <fieldset class="gqTable">
                            <legend class="gqTableTitle">
                                <i class="fas fa-user-minus"></i> Channel Chargebacks
                                {% if render_graphs %}
                                    <a class="_toggle_graph" style="float: right;"><i class="far fa-chart-bar"> <span style="font: 20px/20px LatoBold,Arial,sans-serif; margin-left: 8px;">Show graph</span></i></a>
                                {% endif %}
                            </legend>
                            {% if render_graphs %}
                                <div class="gqTableGraph" style="display: none; float: left; text-align: center; position: relative; width: 100%;">
                                    {{ render(controller('XLabsEpochBundle:StatsChart:render', {
                                        'aOptions': {
                                            'entity': 'EpochTransStats',
                                            'transaction_type': [
                                                constant('XLabs\\EpochBundle\\Entity\\EpochTransStats::EPOCH_TRANSACTION_TYPE_CHARGEBACK')
                                            ],
                                            'date_limit': {
                                                'min': initDate,
                                                'max': endDate
                                            },
                                            'having_channel': true
                                        }
                                    })) }}
                                </div>
                            {% endif %}
                            <div class="gqTableRender">
                                {{ render(controller('XLabsEpochBundle:Stats:channelChargebacks', {
                                    'initDate' : initDate,
                                    'endDate' : endDate
                                })) }}
                            </div>
                        </fieldset>
                    </div>
                    <div id="tab-cancels" class="gqTableWrapper">
                        <fieldset class="gqTable">
                            <legend class="gqTableTitle">
                                <i class="fas fa-ban"></i> Cancels
                                {% if render_graphs %}
                                    <a class="_toggle_graph" style="float: right;"><i class="far fa-chart-bar"> <span style="font: 20px/20px LatoBold,Arial,sans-serif; margin-left: 8px;">Show graph</span></i></a>
                                {% endif %}
                            </legend>
                            {% if render_graphs %}
                                <div class="gqTableGraph" style="display: none; float: left; text-align: center; position: relative; width: 100%;">
                                    {{ render(controller('XLabsEpochBundle:StatsChart:render', {
                                        'aOptions': {
                                            'entity': 'MemberCancelStats',
                                            'date_limit': {
                                                'min': initDate,
                                                'max': endDate
                                            }
                                        }
                                    })) }}
                                </div>
                            {% endif %}
                            <div class="gqTableRender">
                                {{ render(controller('XLabsEpochBundle:Stats:cancels', {
                                    'initDate' : initDate,
                                    'endDate' : endDate
                                })) }}
                            </div>
                        </fieldset>
                    </div>
                    <script type="application/javascript">
                        $('.gqTableWrapper').hide();
                        $('#tab-joins').show();
                        $('.gqResultsNavigation .gqLink:first-child').addClass('gqSelected');
                        $('.gqResultsNavigation .gqLink').on('click', function(e) {
                            e.preventDefault();
                            var btn = $(this);
                            $('.gqResultsNavigation .gqLink').removeClass('gqSelected');
                            $(btn).addClass('gqSelected');
                            var tab = $(this).attr('href');
                            $('.gqTableWrapper').delay().hide();
                            $(tab).show()
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function(){
            $('#tabs').tabs();
        });

        // Clipboard emails
        var clipboard = new ClipboardJS('.clickToClipboard', {
            text: function(trigger){
                let notification = $('<span style="color: #107895; margin-left: 15px; font-size: .8em; display: none;">Copied to clipboard</span>');
                $(trigger).parent().append(notification);
                $(trigger).fadeOut(500,function(){
                    notification.fadeIn(500).delay(500).fadeOut(500,function(){
                        $(trigger).fadeIn(500);
                        notification.remove();
                    });
                });
                return $(trigger).attr('data-clipboard-text');
            }
        });

        // Pagination buttons for custom blocks
        $('.gqTableBlock').on('click', '.pageBtn', function(e){
            e.preventDefault();
            var btn = $(this);
            $.ajax({
                url: btn.attr('href'),
                type: 'get',
                dataType: 'html',
                success: function(data){
                    //$('#customerStats_mostSoldContainer').html(data);
                    btn.closest('.gqTableBlock').html(data);
                },
                error: function(){

                }
            });
        });

        // Date filters
        $('#btnSearchRange').click(function(e){
            e.preventDefault();

            var initYear = $('#initYear').val();
            var initMonth = $('#initMonth option:selected').val();
            var initDate = initYear + '-' + initMonth + '-01';

            var endYear = $('#endYear').val();
            var endMonth = $('#endMonth option:selected').val();
            var endDays = $('#endMonth option:selected').attr('data-days');
            var endDate = endYear + '-' + endMonth + '-' + endDays;

            window.location.href = Routing.generate('xlabs_epoch_stats_by_date', {
                'initDate': initDate,
                'endDate': endDate
            });
        });
        $('#btnSearchThisMonth').click(function(e){
            e.preventDefault();
            var date = new Date();
            var year = date.getFullYear();
            var month = ("0" + (date.getMonth()+1)).slice(-2);
            $('#initYear, #endYear').val(year);
            $('#initMonth, #endMonth').val(month);
            $('#btnSearchRange').trigger('click');
        });
        $('#btnSearchLastMonth').click(function(e){
            e.preventDefault();
            var date = new Date();
            var year = (date.getMonth() == 0) ? (date.getFullYear() - 1) : date.getFullYear();
            var month = (date.getMonth() == 0) ? 12 : ("0" + (date.getMonth())).slice(-2);
            $('#initYear, #endYear').val(year);
            $('#initMonth, #endMonth').val(month);
            $('#btnSearchRange').trigger('click');
        });
        $('#btnSearchThisYear').click(function(e){
            e.preventDefault();
            var date = new Date();
            var year = date.getFullYear();
            $('#initYear, #endYear').val(year);
            $('#initMonth').val('01');
            $('#endMonth').val('12');
            $('#btnSearchRange').trigger('click');
        });

        // Toggle graphs
        $('a._toggle_graph').on('click', function(e){
            e.preventDefault();
            let btn = $(this);
            let _graph = btn.parents('.gqTable').find('.gqTableGraph');
            if(_graph.is(':visible'))
            {
                _graph.hide();
                btn.find('i > span').text('Show graph');
            } else {
                _graph.css('display', 'inline-block');
                btn.find('i > span').text('Hide graph');
                if(typeof _graph.data('chart_by_total_transactions') !== 'undefined')
                {
                    let chart_by_total_transactions = _graph.data('chart_by_total_transactions');
                    showDefaultText(chart_by_total_transactions, "No data available");
                    chart_by_total_transactions.render();
                }
                if(typeof _graph.data('chart_by_total_revenue') !== 'undefined')
                {
                    let chart_by_total_revenue = _graph.data('chart_by_total_revenue');
                    showDefaultText(chart_by_total_revenue, "No data available");
                    chart_by_total_revenue.render();
                }
            }
        });

        // No data placeholder for charts
        function showDefaultText(chart, text)
        {
            let isEmpty = !(chart.options.data[0].dataPoints && chart.options.data[0].dataPoints.length > 0);
            //console.log(chart.options.data[0].dataPoints);
            if(!chart.options.subtitles)
            {
                chart.options.subtitles = [];
            }
            if(isEmpty)
            {
                chart.options.subtitles.push({
                    text : text,
                    verticalAlign : 'center',
                });
            } else {
                chart.options.subtitles = [];
            }
        }

        // Link totals to tables
        $('.gqTotalBoxWrapper').on('click', function(e){
            e.preventDefault();
            $('.gqLink[href="#' + $(this).attr('data-tab-id') + '"]').trigger('click');
        });
    </script>
{% endblock content %}