<span class="gqTotalPeriod">Showing results for <u>{{ from | date('d M. Y') }} - {{ to | date('d M. Y') }}</u></span>
<div class="gqTotalBoxes" style="float: none!important;">
    <div class="gqTotalBoxWrapper" data-tab-id="tab-joins">
        <div class="gqTotalBox">
            <i class="fas fa-user-plus gqIcon"></i>
            <span class="gqNumber">{{ totals.joins.total_amount + totals.channel_joins.total_amount }}$</span>
            <span class="gqText">{{ totals.joins.total_records + totals.channel_joins.total_records }} Joins</span>
        </div>
    </div>
    <div class="gqTotalBoxWrapper" data-tab-id="tab-rebills">
        <div class="gqTotalBox">
            <i class="fas fa-user-clock gqIcon"></i>
            <span class="gqNumber">{{ totals.rebills.total_amount + totals.channel_rebills.total_amount }}$</span>
            <span class="gqText">{{ totals.rebills.total_records + totals.channel_rebills.total_records }} Rebills</span>
        </div>
    </div>
    <div class="gqTotalBoxWrapper" data-tab-id="tab-purchases">
        <div class="gqTotalBox">
            <i class="fas fa-shopping-cart gqIcon"></i>
            <span class="gqNumber">{{ totals.purchases.total_amount }}$</span>
            <span class="gqText">{{ totals.purchases.total_records }} Purchases</span>
        </div>
    </div>
    <div class="clear"></div>
    <div class="gqTotalBoxWrapper" data-tab-id="tab-refunds">
        <div class="gqTotalBox">
            <i class="fas fa-user-minus gqIcon"></i>
            <span class="gqNumber">{{ totals.refunds.total_amount + totals.channel_refunds.total_amount }}$</span>
            <span class="gqText">{{ totals.refunds.total_records + totals.channel_refunds.total_records }} Refunds</span>
        </div>
    </div>
    <div class="gqTotalBoxWrapper" data-tab-id="tab-chargebacks">
        <div class="gqTotalBox">
            <i class="fas fa-user-minus gqIcon"></i>
            <span class="gqNumber">{{ totals.chargebacks.total_amount + totals.channel_chargebacks.total_amount }}$</span>
            <span class="gqText">{{ totals.chargebacks.total_records + totals.channel_chargebacks.total_records }} Chargebacks</span>
        </div>
    </div>
    <div class="gqTotalBoxWrapper" data-tab-id="tab-cancels">
        <div class="gqTotalBox">
            <i class="fas fa-ban gqIcon"></i>
            <span class="gqNumber">{{ totals.cancels }}</span>
            <span class="gqText">Cancels</span>
        </div>
    </div>
</div>